/*
In the name of Allah

salam bar mahdi

*/
/* 
    Created on : Jun 12, 2014, 12:24:11 PM
    Author     : AmirAlMomenin
*/

.landLord-add {
    background-image: url('images/landlord_add.gif') !important;
}

.arrow-left-Btn{
    background-image: url('images/arrow_left.png') !important;
}

.arrow-right-Btn{
    background-image: url('images/arrow_right.png') !important;
}

.fieldset{
    border-width: 2px;
    direction: rtl;
    float: right;
    text-align: right;
    font-family: "b mitra";
    font-size: 25px;
    //left: 31px;
}
.baseFieldset{
    border-width: 2px;
    padding: 2px;
    border-top-width: 4px;
    width: 828px;
    direction: rtl;
    float: right;
    text-align: right;
    font-family: "b mitra";
    font-size: 20px;
    
}
.fieldcontainer{
    direction: rtl;
    float: right;
    text-align: right;
    font-family: "b mitra";
    //left: 31px;
}

.layout{
    direction: rtl;
    float: right;
    text-align: right;
    font-family: "b mitra";
    //left: 31px;
}

.mmlabel{
    font-family: "b mitra";
    font-size: 17px;
}

.mmField{
    font-family: "b mitra";
    font-size: 19px;
}

.segment0{
    //font-family: "b mitra";
    font-size: 12px;
    color: red;
}

.mmSegmentsInfo{
    //font-family: "b mitra";
    font-size: 13px;
}

.mmRTL{
    direction: rtl;
}

/*
** by dariush slide show
*/
span#close-slide-show{
    background-image: url('images/Close-red-32.png') !important;
    background-size: 100%;
    display:inline-block;
    width:30px;
    height:30px;
    margin-left:30px;
    cursor:pointer;
}

span#right-arrow{
    display:inline-block;
    width:30px;
    height:30px;
    margin-left:30px;
    background-image: url('images/arrow-right-green-32.png');
    background-size:100%;
    cursor: pointer;
}
span#left-arrow{
    display:inline-block;
    width:30px;
    height:30px;
    margin-left:50px;
    background-image: url('images/arrow-left-green-32.png');
    background-size:100%;
    cursor: pointer;
}

span#mmclose{
    display:inline-block;
    width:30px;
    height:30px;
    margin-left:50px;
    background-image: url('images/Close-red-32.png');
    background-size:100%;
    cursor: pointer;
}